body {
    background-color:aliceblue;
}
h1{
    text-align:center;
    font-family:'Bell MT';
    color:tan;
}
#Logo{
    float:right;
    position:relative;
    top: -75px;
}

#Content{
    font-family:'Comic Sans MS';
    color:darkgray;
    position: relative;
    left:20px;
}
