    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <title>default</title>
    </head>
    <body>
        <div>
                <h1>This is a static page from our session rater</h1>
        </div>
        <div ng-app="">
            <p>Name : <input type="text" ng-model="name"></p>
            <h1>Hello {{name}}</h1>
            <h1>fljasdlöfkj {{name}}</h1>
        </div>
    </body>
    </html>